<p>
  <button routerLink="/bloques">Cubos</button>
  <button routerLink="/semejanzas">Semejanzas</button>
  <button routerLink="/digitos">Digitos</button>
  <button routerLink="/matrices">Matrices</button>
  <button routerLink="/vocabulario">Vocabulario</button>
  <button routerLink="/aritmetica">Aritmetica</button>
  <button routerLink="/busquedaSimbolos">Busqueda de Simbolos</button>
  <button routerLink="/puzlesVisuales">Puzles Visuales</button>
  <button routerLink="/informacion">Informacion</button>
  <button routerLink="/claveNumeros">Clave de Numeros</button>
  <button routerLink="/letrasNumeros">Letras y Numeros</button>
  <button routerLink="/balanzas">Balanzas</button>
  <button routerLink="/comprension">Comprension</button>
  <button routerLink="/cancelacion">Cancelacion</button>
  <button routerLink="/figurasIncompletas">Figuras Incompletas</button>
</p>
