<div style="text-align:center;">
  <div *ngIf="estado==='seleccion'">
    <p>En que estimulo desea iniciar la prueba? </p>
    <button (click)="imagenInit(1)" >Estimulo 1</button>
    <button (click)="imagenInit(6)" >Estimulo 6</button>
  </div>

  <div *ngIf="estado==='ejemplo' || estado==='aplicacionImg' || estado==='aplicacion'">
    <h4>{{consignaActual}}</h4>
  </div>

  <div *ngIf="estado==='aplicacionImg'">
    <img [src]="estimuloActual" />
  </div>

  <div *ngIf="estado==='ejemplo' || estado==='aplicacionImg' || estado==='aplicacion'">
    <input type="text" required id="respuestaDada"  [(ngModel)]="respuestaDada" name="respuestaDada">
    <button (click)="verificarResultado()" ><span class="glyphicon glyphicon-arrow-right"></span></button>
  </div>

  <div *ngIf="estado==='terminado'">
      <h2>Terminaste la subprueba de aritmetica</h2>
      <h4>Tu resultado es: {{getResultado()}}</h4>
      <button (click)="aRevisar()" >Revisión de resultados</button>
  </div>

  <div *ngIf="estado==='revision'">
    <h3>El puntaje por cada Item fue: </h3>
    <form id="myForm">
      <div class="row">
        <div class="col-sm-3"><label for="item">Item No.</label></div>
        <div class="col-sm-3"><label for="puntuacion">Puntuación</label></div>
        <div class="col-sm-3"><label for="respuestaDada">Respuesta dada:</label></div>
        <div class="col-sm-3"><label for="respuesta">Respuesta correcta:</label></div>
      </div>
      <div *ngFor="let resultado of resultados; let i=index" >
        <div *ngIf="i!==0">
          <div class="row">
            <div class="col-sm-3"><label for="i">{{i}}:</label></div>
            <div class="col-sm-3"><input type="text" id="{{i}}" value={{resultado}}/></div>
            <div class="col-sm-3"><input readonly type="text" value={{respuestasDadas[i]}}/></div>
            <div class="col-sm-3"><input readonly type="text" value={{respuestas[i]}}/></div>
          </div>          
        </div>
      </div>
      <button (click)="regresarAct()" >Regresar</button>
      <button type="submit" (click)="actualizarResultados()" >Actualizar Datos</button>
    </form>
  </div>
</div>
